nav {
  height: 100%;
  width: 100%;
}

.page-links {
  font-size: 20px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  color: #7FFF00;
}

.current-path {
  color: #EDCB62 !important;
}

@media screen and (max-width: 600px) {
  .page-links {
    font-size: 3vw;
  }
}