.tab {
  overflow: hidden;
  border: 2px solid #000000;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background-color: #5E2605;
}

.tab button {
  background-color: inherit;
  color: #FFC125;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  margin-right: 0;
}

.tab button:hover {
  background-color: #441c05;
}

.tab button.active {
  background-color: #441c05;
}

.tabcontent {
  padding: 0.5vh 2vw;
  min-height: 70vh;
  background-image: url('../../assets/books-and-pestle.png');
  background-size: 15vh auto;
  background-repeat: no-repeat;
  background-position: 95% 95%;
  background-color: rgba(94, 38, 5,.75);
  color: #EDCB62;
  border-top: none;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}