header {
  padding-top: 0;
  height: 15vh;
}

main {
  margin: 0 auto;
  min-height: 70vh;
  width: 92vw;
  display: grid;
  grid-template-columns: 72% 25%;
  grid-gap: 3%;
}

.page-content {
  margin: 0 auto;
  width: 90%;
  grid-column: 1;
  grid-row: 1;
}

.nav-panel {
  text-align: center;
  grid-column: 2;
  grid-row: 1;
  background-color: rgba(0,0,0,0.25);
  border: 2px solid black;
  border-radius: .5em;
}

footer {
  text-align: center;
  height: 7vh;
}